body {
    align-content: center;
    height: 100vh;
    margin: 0px;
    width: 100vw;
}

a {
    display: block;
    align-content: center;
    height: 100vh;
    margin: 0px;
    width: 100vw;
}

.img{
    min-width: 320px;
    max-width: 1920px;
    height: 100vh;
    
}

@media only screen and (max-width: 2560px){
    .img {
        background: transparent url('../img/screens/start.svg') center center no-repeat;
    }
}


@media only screen and (max-width: 1024px){
    .img {
        background: transparent url('../img/screens/start_1024.svg') center top no-repeat;
    }
}

@media only screen and (max-width: 932px){
    .img {
        background: transparent url('../img/screens/start_932.svg') center top no-repeat;
    }
}
@media only screen and (max-width: 844px){
    .img {
        background: transparent url('../img/screens/start_667.svg') center top no-repeat;
    }
}

@media only screen and (max-width: 768px){
    .img {
        background: transparent url('../img/screens/start_768.svg') center top no-repeat;
    }
}


@media only screen and (max-width: 667px){
    .img {
        background: transparent url('../img/screens/start_667.svg') center top no-repeat;
    }
}

@media only screen and (max-width: 425px){
    .img {
        background: transparent url('../img/screens/start_425.svg') center top no-repeat;
    }
}

@media only screen and (max-width: 375px){
    .img {
        background: transparent url('../img/screens/start_375.svg') center top no-repeat;
    }
}

@media only screen and (max-width: 320px){
    .img {
        background: transparent url('../img/screens/start_320.svg') center top no-repeat;
    }
}